<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Something Page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis similique maiores inventore mollitia, voluptates nisi praesentium perferendis vero consequatur culpa. Reiciendis, hic ut modi unde exercitationem veritatis error ratione doloribus?
        Voluptate pariatur cupiditate totam suscipit illum nisi vero nulla rem, neque accusamus, aut explicabo, quis saepe a quam tempora ipsum odio asperiores recusandae labore! Alias rem labore tempora excepturi dolorum.
        Accusantium consequatur ducimus error atque quibusdam odit praesentium, autem perferendis possimus culpa reprehenderit voluptatum sit assumenda illum at! Minima iusto voluptatum natus illo sit, labore dolorum tempore sunt sed iste.
        Alias nulla molestias nobis accusamus asperiores voluptate quo architecto a eligendi rerum laboriosam, expedita eveniet ad non vitae quis doloremque, qui ab. Ex obcaecati voluptatibus porro enim debitis dolorem tempore.
        Ipsa quia illo tenetur porro magnam exercitationem ut aliquid. Exercitationem ratione quidem vel dolor libero odio voluptas ullam, quam ea quod in nisi eveniet perspiciatis voluptate architecto commodi? Nisi, voluptate!</p>
        
    </body>
</html>